body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: black;
}

#header {
  position: fixed;
  height: 50px;
  width: 100%;
}

#header .header-left {
  padding: 0px 0px 0px 10px;
  display: inline;
}

#header .header-left .navigation-brand .brand-logo {
  width: auto;
  height: 50px;
}

#header .header-right {
  display: inline;
  float: right;
  padding-top: 13px;
}

#header .header-right a {
  padding: 00px 70px 0px 30px;
  font-size: 15px;
  font-weight: 700;
  color: #c3c3c3;
}

#header .header-right a:hover {
  color: #ffc300;
}
