*,
*::before,
*::after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
  background-color: black;
}

.wrapper .navigation-logo .brand-logo {
  max-width: 100%;
  height: 50px;
}

.wrapper {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px;
}

#header .wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-wrap: wrap;
}

.navigation-menu ul {
  list-style: none;
  margin: 1em 0 0.5em;
}

.navigation-menu li {
  display: inline;
}

.navigation-menu a {
  display: inline-block;
  padding: 0.5em 1.5em;
  font-size: 15px;
  text-decoration: none;
  color: #c3c3c3;
  font-weight: 700;
}

.navigation-menu a:hover {
  color: #fff;
}
